<% @users.each do |user| %>
<table class='table'>
  <h1>Follows User</h1>
  <tr>
    <th>image</th><th>name</th><th></th><th></th>
  </tr>
  <tr>
    <th><%= image_tag user.get_profile_image, size:'50x50' %></th>
  
	  
	  <th> <%= link_to user.name, user_path(user.id) %></th>
  
    
    <th>
      フォロー数:<%= @following_users.count %>
    </th>
  
  
    <th>
      フォロワー数:<%= @follower_users.count %>
    </th>
  
  <th><%= link_to 'Show', user %></th>
 </tr> 
</table>

<% end %>